*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html,body{
    background-color: #2C4B76;  
    height: 100%;
    width: 100%;

  
}

header .top-area{
    height: 100px;
    
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    
}
.nav-bar .nav-header h1{
    margin: 0;
    font-weight: bolder;
    padding: 15px 25px;
    font-size: xx-large;
    
}
.nav-header h1 a{
   text-decoration: none;
   color: #B8D5FF;
}
.pages-links ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.pages-links ul li a{
    text-decoration: none;
    font-size:large;
    font-weight: 600;
    color: #E5F0FF;
    cursor: pointer;
}
.toggle-button{
    display: none;
    color: #ffff;
}
.content{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container{
display: flex;        
color: white;
padding: 20px 10px;
margin: 2rem auto;
height: 90%;
gap: 10px;
}

.left {
flex: 1;
font-size: 2rem;
}

.right {
flex: 2;
margin: 0;
padding: 0;


}

.section {
border-bottom: 1px solid white;
padding: 10px 0;
margin: 0;

}

.section-title {
font-size: 1.5rem;
cursor: pointer;
display: flex;
justify-content: space-between;
align-items: center;
}

.section-content {
max-height: 0;
overflow: hidden;
transition: max-height 0.3s ease-out;
padding-left: 10px;
}

.section-content p {
margin: 10px 0;
padding: 0;
}

.dropdown {
transform: rotate(90deg);
transition: transform 0.3s ease-out;

}

.dropdown.active {
transform: rotate(0deg);
}


footer{
    height: 80px;
    background-color:#6aa8ff ;
    text-align: center;
   
    
}
footer .footer_header h5{
    font-family: serif;
    padding: 0;
    margin: 0;
    font-size: large;
    font-weight: 700;
    color: #E5F0FF;
}
footer .social_media {
    display: flex;
    justify-content:center;
    gap: 3rem;
}
footer .social_media i{
    font-size: 30px;
}

@media screen and (max-width: 852px ){
    
    .pages-links{
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
        right: 0;
        top: 0;
        gap: 2rem;
             
    }
   
    .pages-links ul{
        flex-direction: column;
        position: absolute;
        top: 100px;
        justify-content: center;
        align-items: center;
        background-color: #A8C8F0;
        width: 100%;
        text-align: center;
        
    }
    .pages-links ul li a{
        color: #003C96;
    }
    .toggle-button{
        display: block;
        color: #E5F0FF;
        font-size: 3rem;
        font-weight: 3px;
        cursor: pointer;    
        
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
    }
    .container{
        display: flex;
        padding: 0;
        margin: 0;
        width: 98%;
    }
    .left{
        font-size: 1.3rem;
    }
    .right{
        width: 100px;
        margin-right: 5px;
    }
    
}

@media screen and (max-width: 393px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .right{
        width: 100%;
        padding: 10px 20px;
    }

}