body{
    background-color: #2C4B76;  
    height: 100%;
    margin: 0;
}
header .top-area{
    height: 100px;
    margin-bottom: 50px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    
}
.nav-bar .nav-header h1{
    margin: 0;
    font-weight: bolder;
    padding: 15px 25px;
    font-size: xx-large;
    
}
.nav-header h1 a{
   text-decoration: none;
   color: #B8D5FF;
}
.pages-links ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.pages-links ul li a{
    text-decoration: none;
    font-size:large;
    font-weight: 600;
    color: #E5F0FF;
    cursor: pointer;
}
.toggle-button{
    display: none;
    color: #ffffff;
}


#contact{
    
    display: flex;
    justify-content: center;
    align-content: center;
    height: 80vh;
    margin: 0 auto;
}

.container .contact-header h3{
    text-align: center;
    font-weight: bolder;
    font-size:xx-large;
    
}
.container .contact-header{
    color: #ffffff;
    font-family: serif;  
    width: 600px;
}

.container .social-icon{
    text-align: center;
    font-size: 30px;
    gap: 3rem;
    display: flex;
    justify-content: center;
    margin: 20px;
}
.container .social-icon i{
    color: #E5F0FF;
}
.container .contacts {
    box-sizing: border-box;
    background-color: #E5F0FF;
    width: 600px;
    padding: 20px;
    border-radius: 8px;
}

.container .contacts form {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
}

.container .contacts .contactgrid input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container .contacts form .contactgrid1 textarea{
    grid-column: 1 / span 2;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
}
.container .contacts .contactgrid2 {
    display: flex;
    justify-content: center;
    grid-column: 3 / 4;
    align-items: center;
}

.container .contacts .contactgrid2 input[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
}

.container .contacts .contactgrid2 input[type="submit"]:hover {
    background-color: #0056b3;
}


@media screen and (max-width: 852px ){
    
    .pages-links{
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
        right: 0;
        top: 0;
        gap: 2rem;
             
    }
   
    .pages-links ul{
        flex-direction: column;
        position: absolute;
        top: 100px;
        justify-content: center;
        align-items: center;
        background-color: #A8C8F0;
        width: 100%;
        text-align: center;
        
    }
    .pages-links ul li a{
        color: #003C96;
    }
    .toggle-button{
        display: block;
        color: #E5F0FF;
        font-size: 3rem;
        font-weight: 3px;
        cursor: pointer;    
        
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
    }


    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
    }
}
