body{
    background-color: #2C4B76;  
    height: 100%;
    margin: 0;
}
header .top-area{
    height: 100px;
    margin-bottom: 50px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    
}
.nav-bar .nav-header h1{
    margin: 0;
    font-weight: bolder;
    padding: 15px 25px;
    font-size: xx-large;
    
}
.nav-header h1 a{
   text-decoration: none;
   color: #B8D5FF;
}
.pages-links ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.pages-links ul li a{
    text-decoration: none;
    font-size:large;
    font-weight: 600;
    color: #E5F0FF;
    cursor: pointer;
}
.toggle-button{
    display: none;
    color: #ffffff;
}


#contact{
    
    display: flex;
    justify-content: center;
    align-content: center;
    height: 80vh;
    margin: 0 auto;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0 auto;
    width: 100%;
}

.container .contact-header h3{
    text-align: center;
    font-weight: bolder;
    font-size:xx-large;
    
}
.container .contact-header{ 
    color: #ffffff;
    font-family: serif;  
    padding: 0 10rem;
}

.container .social-icon{
    text-align: center;
    font-size: 30px;
    gap: 3rem;
    display: flex;
    justify-content: center;
    margin: 20px;
}
.container .social-icon i{
    color: #E5F0FF;
}
.container .contacts {
    box-sizing: border-box;
    background-color: #E5F0FF;
    
    margin: 0 15rem;
    padding: 10px;
    border-radius: 10px;
}

.container .contacts form {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    width: 700px;
    box-sizing: border-box;
    
}

.container .contacts .contactgrid {
    grid-column: span 1; 
    padding: 10px;
}
.container .contacts .contactgrid input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container .contacts .contactgrid1 {
    grid-column: span 2; 
    padding: 10px;
}

.container .contacts .contactgrid2 {
    grid-column: span 1; 
    align-self: center; 
    text-align: center; 
}

textarea {
    width: 100%;
    height: 100%; 
    resize: none; 
}


.container .contacts .contactgrid2 input[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
}

.container .contacts .contactgrid2 input[type="submit"]:hover {
    background-color: #0056b3;
}


@media screen and (max-width: 852px ){
    
    .pages-links{
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
        right: 0;
        top: 0;
        gap: 2rem;
             
    }
   
    .pages-links ul{
        flex-direction: column;
        position: absolute;
        top: 100px;
        justify-content: center;
        align-items: center;
        background-color: #A8C8F0;
        width: 100%;
        text-align: center;
        
    }
    .pages-links ul li a{
        color: #003C96;
    }
    .toggle-button{
        display: block;
        color: #E5F0FF;
        font-size: 3rem;
        font-weight: 3px;
        cursor: pointer;    
        
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
    }


    
}

@media screen and (max-width: 1194px ){
    .container .contacts form{
        grid-template-columns: 2fr 1fr; 
        box-sizing: border-box;
        
    }
    .container .contacts .contactgrid{
        width: 100%;
        padding-right: 5px;
    }
    .container .contacts .contactgrid1{
        grid-column: 1;
        grid-row: 2;
    }
    .container .contacts .contactgrid2{
        width: 50%;
        padding-left: 12rem;
    }

      
}

@media screen and (max-width: 700px ){
    .container .contacts form {
        display: block;
        width: 80vw;
        padding: 0 20px;
        text-align: center;
        
    }
    .container .contact-header{
        padding: 10px;
    }
    .container .contacts .contactgrid2{
        width: 50%;
        padding-left: 100px;
        display: flex;
        
    }
    .container .contacts .contactgrid1{
        height: 50px;
        width: 100%;
        margin-bottom: 15px;
    }

}