body{
    background-color: #2C4B76;  
    height: 100%;
    margin: 0;
}
header .top-area{
    height: 100px;
    margin-bottom: 50px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    
}
.nav-bar .nav-header h1{
    margin: 0;
    font-weight: bolder;
    padding: 15px 25px;
    font-size: xx-large;
    
}
.nav-header h1 a{
   text-decoration: none;
   color: #B8D5FF;
}
.pages-links ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.pages-links ul li a{
    text-decoration: none;
    font-size:large;
    font-weight: 600;
    color: #E5F0FF;
    cursor: pointer;
}
.toggle-button{
    display: none;
    color: #ffffff;
}


#contact{
    
    display: flex;
    justify-content: center;
    align-content: center;
}

.container .contact-header h3{
    text-align: center;
    font-weight: bolder;
    font-size:xx-large;
    
}
.container .contact-header{
    color: #ffffff;
    font-family: serif;  
    width: 600px;
}

.container .social-icon{
    text-align: center;
    font-size: 30px;
    gap: 3rem;
    display: flex;
    justify-content: center;
    margin: 20px;
}
.container .social-icon i{
    color: #E5F0FF;
}
.container .contacts{
    box-sizing: border-box;
    background-color: #E5F0FF;
    width: 600px;
    height: 80px;
   
}
.container .contacts form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.container .contacts .col-md-8 {   
    width: 180%;
}
.container .contacts .col-md-8 textarea{   
    width: 100%;
}


