body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(./images/home-page-background-image.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}
header .top-area{
    height: 100px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    
}
.nav-bar .nav-header h1{
    margin: 0;
    font-weight: bolder;
    padding: 15px 25px;
    font-size: xx-large;
    
}
.nav-header h1 a{
   text-decoration: none;
   color: #B8D5FF;
}
.pages-links ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.pages-links ul li a{
    text-decoration: none;
    font-size:large;
    font-weight: 600;
    color: #E5F0FF;
    cursor: pointer;
}
.toggle-button{
    display: none;
    color: #E5F0FF;
    
}

#home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    
}
.description-content{
    width: 400px;
    padding-left: 50px;
}
.description-content h2{
    color: #fff;
    font-size: 2.5rem;
    font-weight:bold;
    font-family:  Roboto, Serif;
    margin-bottom: 0;
}
.description-content h4{
    color: #fff;
    font-weight: 500;
    font-family:  Roboto, Serif;
    margin-top: 10px;
}

@media screen and (max-width: 852px ){
    .pages-links{
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
        right: 0;
        top: 0;
        gap: 2rem;
        
    }
   
    .pages-links ul{
        flex-direction: column;
        position: absolute;
        top: 70px;
        justify-content: center;
        align-items: center;
        background-color: #A8C8F0;
        width: 90%;
        text-align: center;
        
    }
    .pages-links ul li a{
        color: #003C96;
    }
    .toggle-button{
        display: block;
        color: #E5F0FF;
        font-size: 3rem;
        font-weight: 3px;
        cursor: pointer;    
        
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
    }
    
}