body{
    background-color: #2C4B76;  
    height: 100%;
    margin: 0;
}
header .top-area{
    height: 100px;
    margin-bottom: 50px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    
}
.nav-bar .nav-header h1{
    margin: 0;
    font-weight: bolder;
    padding: 15px 25px;
    font-size: xx-large;
    
}
.nav-header h1 a{
   text-decoration: none;
   color: #B8D5FF;
}
.pages-links ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.pages-links ul li a{
    text-decoration: none;
    font-size:large;
    font-weight: 600;
    color: #E5F0FF;
    cursor: pointer;
}
.toggle-button{
    display: none;
}
.pageDescription{
    text-align:center;
    color: #ffffff;
    font-weight: 800;
    font-size: larger;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    justify-items: center;
   
    
}
.container .boxes{
    text-align: center;
    width: 250px;
    border: 1px solid black;
    margin: 20px 20px;
    padding: 10px 20px;
    background-color: #E5F0FF;
    
    
}
.boxes video{
   max-width: 250px;
   height: auto;
}
.boxes .title a {
    text-decoration: none;
    color: #ffffff;
    background-color: #2d63c8;
    font-size: 19px;
    border: 1px solid #2d63c8;
    padding: 5px 20px;
    cursor: pointer
    
}