body{
    background-color: #2C4B76;  
    height: 100%;
    margin: 0;
}
header .top-area{
    height: 100px;
    margin-bottom: 50px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    
}
.nav-bar .nav-header h1{
    margin: 0;
    font-weight: bolder;
    padding: 15px 25px;
    font-size: xx-large;
    
}
.nav-header h1 a{
   text-decoration: none;
   color: #B8D5FF;
}
.pages-links ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.pages-links ul li a{
    text-decoration: none;
    font-size:large;
    font-weight: 600;
    color: #E5F0FF;
    cursor: pointer;
}
.toggle-button{
    display: none;
}
.pageDescription{
    text-align:center;
    color: #ffffff;
    font-weight: 800;
    font-size: larger;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;  
}
.container .boxes{
    text-align: center;
    width: 160px;
    border: 1px solid black;
    margin: 20px 20px;
    padding: 10px 20px;
    background-color: #E5F0FF;
}

.boxes video{
   max-width: 160px;
   height: 130px;
}
.boxes .title p{
    font-size: 15px;
    font-weight:400;
    text-align: center;
    
}
.boxes .title a {
    text-decoration: none;
    color: #ffffff;
    background-color: #2d63c8;
    font-size: 19px;
    border: 1px solid #2d63c8;
    padding: 5px 20px;
    cursor: pointer
    
}


@media screen and (max-width: 852px ){
    
    .pages-links{
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
        right: 0;
        top: 0;
        gap: 2rem;
        
    }
   
    .pages-links ul{
        flex-direction: column;
        position: absolute;
        top: 100px;
        justify-content: center;
        align-items: center;
        background-color: #A8C8F0;
        width: 100%;
        text-align: center;
        padding: 15px;
    }
    .pages-links ul li a{
        color: #003C96;
    }
    .toggle-button{
        display: block;
        color: #E5F0FF;
        font-size: 3rem;
        font-weight: 3px;
        cursor: pointer;    
        
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
    }
}