body{
    background-color: #2C4B76;  
    height: 100%;
    margin: 0;
}
header .top-area{
    height: 100px;
    margin-bottom: 50px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    
}
.nav-bar .nav-header h1{
    margin: 0;
    font-weight: bolder;
    padding: 15px 25px;
    font-size: xx-large;
    
}
.nav-header h1 a{
   text-decoration: none;
   color: #B8D5FF;
}
.pages-links ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.pages-links ul li a{
    text-decoration: none;
    font-size:large;
    font-weight: 600;
    color: #E5F0FF;
    cursor: pointer;
}
.toggle-button{
    display: none;
    color: #fff;
}


.skill {
    background-color: #fff;
    margin: 30px;
    width: 80vw;
    margin-left:6rem ;

}
.skill img{
    width: 200px;
    height: 80px;
}
.skill1{
    display: flex;
    justify-content: center;
    align-content: center;
}
.skill1 .skill_image1{
    padding: 20px 20px;
    width: 300px;
}
.skill1 .describe{
    padding: 10px 20px;
}

.skill2{
    display: flex;
    justify-content: center;
}
.skill2 .skill_image2{
    padding: 20px 20px;
    width: 300px;
}
.skill2 .describe{
    padding: 8px 20px;
}