body{
    background-color: #2C4B76;  
    height: 100vh;
    margin: 0;

}
header .top-area{
    height: 100px;
    margin-bottom: 50px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    
}
.nav-bar .nav-header h1{
    margin: 0;
    font-weight: bolder;
    padding: 15px 25px;
    font-size: xx-large;
    
}
.nav-header h1 a{
   text-decoration: none;
   color: #B8D5FF;
}
.pages-links ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.pages-links ul li a{
    text-decoration: none;
    font-size:large;
    font-weight: 600;
    color: #E5F0FF;
    cursor: pointer;
}
.toggle-button{
    display: none;
    color: #fff;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    
}

.skill {
    background-color: #fff;
    margin: 30px 0;
    width: 80vw;

}
.skill img{
    width: 200px;
    height: 80px;
}
.skill1{
    display: flex;
    justify-content: center;
    align-content: center;
}
.skill1 .skill_image1{
    padding: 20px 20px;
    width: 300px;
}
.skill1 .describe{
    padding: 10px 20px;
}

.skill2{
    display: flex;
    justify-content: center;
}
.skill2 .skill_image2{
    padding: 20px 20px;
    width: 300px;
}
.skill2 .describe{
    padding: 8px 20px;
}

@media screen and (max-width: 915px ){
    
    .pages-links{
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
        right: 0;
        top: 0;
        gap: 2rem;
        
             
    }
   
    .pages-links ul{
        flex-direction: column;
        position: absolute;
        top: 100px;
        justify-content: center;
        align-items: center;
        background-color: #A8C8F0;
        width: 100%;
        text-align: center;
        padding: 15px;
    }
    .pages-links ul li a{
        color: #003C96;
    }
    .toggle-button{
        display: block;
        color: #E5F0FF;
        font-size: 3rem;
        font-weight: 3px;
        cursor: pointer;    
        
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
    }
    .skill2{
        flex-direction: row-reverse;
    }
    

}

@media screen and (max-width: 415px ){
    .skill{
        width: 300px;
        flex-direction: column;
        text-align: center;
        
    }
    .skill1{
        flex-direction: column-reverse;
    }
    .skill1 .skill_image1{
        padding: 20px 5px;
    }
    .skill2 .skill_image2{
        padding: 20px 5px;
    }
}
    
